services:
  registry:
    image: {{ REGISTRY_IMAGE }}
    container_name: forgejo-registry
    restart: unless-stopped
    ports:
      - "{{ PORT_REGISTRY_HTTP }}:5000"
    environment:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
      REGISTRY_STORAGE_DELETE_ENABLED: "true"
    volumes:
      - /srv/registry:/var/lib/registry
      - ./config.yml:/etc/docker/registry/config.yml:ro
    networks:
      - registry-network
      - forgejo-network

networks:
  registry-network:
    driver: bridge
  forgejo-network:
    external: true
    name: forgejo-network
