apiVersion: 1

providers:
  - name: Pi Forge
    orgId: 1
    folder: Pi Forge
    folderUid: pi-forge
    type: file
    editable: false
    disableDeletion: false
    updateIntervalSeconds: 60
    options:
      path: /etc/grafana/provisioning/dashboards/pi-forge
