[server]
DOMAIN           = {{ FORGEJO_DOMAIN }}
ROOT_URL         = {{ FORGEJO_EXTERNAL_URL }}
SSH_DOMAIN       = {{ FORGEJO_DOMAIN }}
SSH_PORT         = {{ PORT_FORGEJO_SSH }}
HTTP_PORT        = 3000
PROTOCOL         = http
LFS_START_SERVER = true
LFS_JWT_SECRET   = {{ FORGEJO_LFS_JWT_SECRET }}

[database]
DB_TYPE = postgres
HOST    = forgejo-postgres:5432
NAME    = {{ POSTGRES_DB_FORGEJO }}
USER    = {{ POSTGRES_USER_FORGEJO }}
PASSWD  = {{ POSTGRES_PASSWORD_FORGEJO }}
SCHEMA  = public
LOG_SQL = false

[security]
INTERNAL_TOKEN = {{ FORGEJO_APP_SECRET }}
SECRET_KEY     = {{ FORGEJO_APP_SECRET }}


[metrics]
ENABLED = true
TOKEN   = {{ FORGEJO_METRICS_TOKEN }}

[service]
DISABLE_REGISTRATION     = true
REQUIRE_SIGNIN_VIEW      = false
ALLOW_ONLY_EXTERNAL_REGISTRATION = false
DEFAULT_KEEP_EMAIL_PRIVATE = true
INSTALL_LOCK             = true

[oauth2]
ACCESS_TOKEN_EXPIRATION_TIME = {{ FORGEJO_OAUTH2_ACCESS_TOKEN_EXPIRATION_TIME | default('24h', true) }}

[mirror]
ALLOWED_DOMAINS     = {{ FORGEJO_MIRROR_ALLOWED_DOMAINS }}
BLOCKED_DOMAINS     = {{ FORGEJO_MIRROR_BLOCKED_DOMAINS }}
ALLOW_LOCALNETWORKS = {{ 'true' if FORGEJO_MIRROR_ALLOW_LOCALNETWORKS == 'true' else 'false' }}

[migrations]
ALLOWED_DOMAINS     = {{ FORGEJO_MIRROR_ALLOWED_DOMAINS }}
BLOCKED_DOMAINS     = {{ FORGEJO_MIRROR_BLOCKED_DOMAINS }}
ALLOW_LOCALNETWORKS = {{ 'true' if FORGEJO_MIRROR_ALLOW_LOCALNETWORKS == 'true' else 'false' }}

[actions]
ENABLED = true
DEFAULT_ACTIONS_URL = github

[packages]
ENABLED = true

[packages.registry]
ENABLED = true
LOG_PACKAGE_ACCESS = true

[mailer]
ENABLED = {{ 'true' if SMTP_ADDRESS else 'false' }}
PROTOCOL = smtp
{% if SMTP_FROM and '@' in SMTP_FROM %}
FROM = {{ SMTP_FROM }}
{% elif DOMAIN %}
FROM = noreply@{{ DOMAIN }}
{% else %}
FROM = noreply@localhost
{% endif %}
SMTP_ADDR = {{ SMTP_ADDRESS if SMTP_ADDRESS else '' }}
SMTP_PORT = {{ SMTP_PORT if SMTP_PORT else '' }}
USER = {{ SMTP_USERNAME if SMTP_USERNAME else '' }}
PASSWD = {{ SMTP_PASSWORD if SMTP_PASSWORD else '' }}
FORCE_TRUST_SERVER_CERT = {{ 'true' if SMTP_SSL_VERIFY_MODE == 'none' else 'false' }}
USE_CLIENT_CERT = false

[log]
MODE  = console
LEVEL = info

